body {
    font-family: 'Encode Sans', sans-serif;
font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5; 
} 

a {
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    color: #262626;
}

/* BARRA TOPO FIXA  */

header {
   background-color: white; 
    border: 1px solid #DBDBDB;
    width: 100%; 
    position: fixed;
    top: 0;
    left: 0; 
    z-index: 2;
  
}
.barratopo {
    height: 54px;
    max-width: 935px; 
    margin: 0 auto;  
    display: flex;
    justify-content: space-between;
    align-items: center;   
} 


.logotopo {
    display: flex;
    align-items: center;
}

.iconeinsta {
    width: 11,23px;
    height: 11,23px;

}

.linhavertical {
    background: #DBDBDB;
    height: 22px;
    width: 1px;
    margin: 0 10px;
}

.logoinsta {
    width: 103px;
    height: 29px;
}

 .pesquisar {
    background-color: #FAFAFA;
    height: 28px; 
    width: 215px;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;  
} 

.pesquisar p {
    font-size: 12px;
    font-weight: 400;
}

.icones {
  /*  div criada apenas para colocar os 
  icones dentro de uma caixa */
}

.tamanhoicone {
    font-size: 17.87px;
    margin: 0 5px;
    color: black;
}

.tamanhoicone1 {
    font-size: 17.87px;
    color: white;
}

/* CONTEÚDO PRINCIPAL DA PÁGINA */

main {   
    max-width: 935px;
    height: 100%;
    margin: 0 auto;   
    margin-top: 88px;
    display: flex;
    justify-content: space-between;
}

.barraprincipal {
    /* apenas juntou stories
    e feed para dar o flex blox
    na div de cima */
    max-width: 614px;
    background-color: #E5E5E5; 
}

/* STORIES */

.stories {
    background-color: white; 
    height: 118px;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    z-index: 0;
}


.scrool{
   position: absolute;
   margin: auto;
   right: 5px;
   
}
.tamanhoscrool{
    color: white;
    width: 26px;
    height: 26px;
}

.storiesconteudo {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin-left: 14px;
   }
   .storiesconteudo p {
       font-weight: 400;
       font-size: 12px;
       margin-top: 2px;
   }

.storiesback{
    width: 66px;
    height: 66px;
}

/* FEED  */

.postagem {
    background-color: white;
    width: 614px;
    height: 749px; 
     margin-top: 24px; 
     margin-bottom: 36px;
     box-sizing: border-box;
}    

.post {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 18.5px;

}

.post-topo {
    display: flex;
    align-items: center;
    margin-left: 17px;
    padding-top: 15px;
    padding-bottom: 13px;

}

.post-topo p {
    margin-left: 15px;
    font-size: 14px;
    font-weight: 500;
    color: #262626;

}

.feed-perfil {
    width: 32px;
    height: 32px;
}

.post-icones {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 10px;
}

.post-icones2 {
/* apenas para acionar flex-box*/
}

.iconepost {
    font-size: 17.87px;
    color: black;
    margin-left: 12px;
}

.postimagem {
    width: 612px;
    height: 612px;
    margin: 0 1px;
}

.tamanhovideo {
    width: 100%; 
    height: 612px; 
    margin: 0 1px;
}


.curtida {
    display: flex;
    align-items: center;
    padding-bottom: 14px;
}

.curtida img {
    width: 20px;
    height: 20px;
    margin-left: 17px;
}

.curtida p {
    font-size: 14px;
    font-weight: 300;
    margin-left: 10px;
}
 
/* BARRA LATERAL DA PÁGINA */

aside {
    width: 293px;
    height: 500px;
}

.perfil {
    height: 56px; 
    background-color: #E5E5E5;
    display: flex;
    margin-top: 23px; 
}

.perfil img {
    width: 56px;
    height: 56px;
}

.nomeperfil {
    margin-left: 17px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sugestoes {
    background-color: #E5E5E5; 
    margin-top: 24px; 
}

.sugestoes-texto {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.texto-perfil {
    font-weight: 500;
    font-size: 14px;
    color: #262626;
}

.texto2-perfil {
    font-weight: 300;
    font-size: 14px;
    color: ##8E8E8E;
}

.texto3-perfil {
    font-weight: 400;
    font-size: 12px;
    color: ##8E8E8E;
    margin-top: 6px;
}

.texto4-perfil  {
    font-size: 12px;
    font-weight: 500;
    color: #8E8E8E;
}
.sugestoes-perfil {
    margin-top: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.sugestoes-perfil-1{
    /* Div criada apenas para separar o 
    perfil do seguir */
      display: flex; 
      align-items:center; 
}

.sugestoes-perfil-1 img {
    width: 32px;
    height: 32px;
}

.sugestoes-perfil-texto {
    margin-left: 11px;
}
 .seguindo {
     font-size: 14px;
     font-weight: 500;
     color: #139EF2;
 }

.textofinal {
    margin-top: 33px;
}

.textofinal p {
    font-size: 11px;
    font-weight: 400;
    color: #C7C7C7;
    margin-bottom: 18px;

}

/* BARRA INFERIOR DA PÁGINA  */

  footer {  
      display: none; 
      height: 100px;
} 

    .iconesinferior {
        display: none;
    }

    .tamanhoicone3 {
        display: none;
    }

@media (max-width: 935px) {
    .sidebar {
        display: none;
    }

    .barratopo {
        width: 100%;   

    } 
    .barraprincipal {
        width: 614px;
        margin: 0 auto;
    }
}

@media (max-width: 614px) {
    .sidebar {
        display: none;
    } 

    .logotopo {
        width: 100%;
        justify-content: space-between;
    }

    .linhavertical {
        display: none;
    }

    .pesquisar {
        display: none;
    }

    .tamanhoicone {
        display: none;
    }

    .tamanhoicone1 {
        width: 17,87px;
        height: 17,87px;
        color: black;
    }
 
       .pagina {
           margin-top: 54px;
           margin-bottom: 54px;
       }

       .barraprincipal {
           width: 614px; 
       }

       .stories {
           width: 100%; 
           background-color: #E5E5E5;
           justify-content: space-evenly;
        }


       .scrool {
           position: relative;
           display: none;
       }

       .tamanhoscrool {
           display: none;
       }

       .postagem-1 {
           width: 614px;
           margin-top: 0;
       }  

       .postimagem {
        width: 614px;
    }    

    .tamanhovideo {
        width: 612px;
        height: 612px;
    }    

   footer {
       display: block;
        background-color: white;
        height: 54px;
        width: 100%;  
        position: fixed;
        bottom: 0;
        display: flex;
        align-items: center; 
        border: 1px solid #DBDBDB;
    } 

    .iconesinferior {
        width: 100%;
        margin-left: 30px;
        margin-right: 30px;
        display: flex;
        justify-content: space-between;
    }
    .tamanhoicone3 {
        display: block;
        font-size: 25px;

    }